body {
	margin: 0;
	padding: 0;
	background-image: url(images/Background_5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.container {
	width: 100%;
	position: relative;
}

.logo {
	position: absolute;
	top: 10%;
	left: 0;
}

.logo img {
	width: 40%;
	padding: 20px;
}

.logo1 {
	position: absolute;
	top: 10%;
	right: 0;
}

.logo1 img {
	width: 40%;
	float: right;
	padding: 20px;
}

.text-overlay {
	font-size: 1em;
	color: rgb(255, 255, 255);
	font-family: Arial,Helvetica,Sans-Serif;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    bottom: 10%;
    left: 20%;
}